<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/workouts.css">
  <link rel="stylesheet" href="https://use.typekit.net/lsk0bgl.css">
  <link rel="stylesheet" href="https://use.typekit.net/lsk0bgl.css">
  <title></title>

</head>
<body>
  <nav class="mainNav">
    <a href="#"><img src="/images/logo.png" class="logo"></a>
    <div class="nav-left">
      <a class="innerLeftNav" href="/workouts">Workouts</a>
      <a class="innerLeftNav" href="/workouts/WOD">WOD</a>
    </div>
    <!-- <a href="/leaderboard">Leaderboard</a> -->
    <!-- <a class="innerRightNav"  href="/profile"></a> -->
          <!-- change "profile" to image that person inserts when signing up or to default -->  
    <div class="nav-right">  
      <a class="innerRightNav" href="/users/scores">Scores</a>
    <!-- change "favorties" to a star icon -->
      <a class="innerRightNav fav"  href="/users/favorites"> My Favorites</a>
    </div>
  </nav>