<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/workouts.css">
  <link rel="stylesheet" href="https://use.typekit.net/lsk0bgl.css">
  <link rel="stylesheet" href="https://use.typekit.net/lsk0bgl.css">
  <title></title>

</head>
<body>
  <nav class="mainNav">
    <a class="logo" href="#">Logo</a>
    <a class="innerLeftNav" href="/workouts">Workouts</a>
    <a class="innerLeftNav" href="/workouts/WOD">WOD</a>
    <!-- <a href="/leaderboard">Leaderboard</a> -->
    <a class="innerRightNav"  href="/profile">Profile</a>
    <a class="innerRightNav" href="/users/scores">Your Scores</a>
    <!-- change "favorties" to a star icon -->
    <a class="innerRightNav"  href="/users/favorites">Favorites</a>
    <!-- change "profile" to image that person inserts when signing up or to default -->
  </nav>