<%- include('header.ejs') %>
    <h1>Login</h1>
    
    <form action="/users/login" method="POST">
        <input type="text" placeholder="Username" name="username">
        <br/>
        <input type="password" placeholder="Password" name="password">
        <br/>
        <input type="submit" value="Login">
    </form>

    <a href="/users/">Create an Account</a>
    <%- include('footer.ejs') %>

