<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create an Account</h1>
    
    <form action="/users/" method="POST">
        <input type="text" placeholder="Username" name="username">
        <br/>
        <input type="password" placeholder="Password" name="password">
        <br/>
        <!-- <input type="file" placeholder="Profile Picture url" name="profileImage"> -->
        <input type="submit" value="Create Account">
    </form>

    <a href="/users/login">Login</a>
</body>
</html>