<%- include('header.ejs') %>
    <h1>Create an Account</h1>
    
    <form action="/users/" method="POST">
        <input type="text" placeholder="Username" name="username">
        <br/>
        <input type="password" placeholder="Password" name="password">
        <br/>
        <!-- <input type="file" placeholder="Profile Picture url" name="profileImage"> -->
        <input type="submit" value="Create Account">
    </form>

    <a href="/users/login">Login</a>
    <%- include('footer.ejs') %>