<%- include('header.ejs') %>
    <h1>Create an Account</h1>
    
    <!-- the enctype is used to handle file uploads  -->
    <form action="/users/" method="POST" class="loginForm">
        <input type="text" placeholder="Username" name="username" class="loginInput">
        <br>
        <input type="password" placeholder="Password" name="password" class="loginInput">
        <br>
        <!-- <input type="file" placeholder="Profile Picture" name="profileImage">
        <br> -->
        <input type="submit" value="Create Account" class="button">
    </form>

    <a href="/users/login" class="createAccount">Login</a>
    <%- include('footer.ejs') %>