body {
  text-align: center;
}

.catList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.category-link {
  font-size: 20px;
}

.workout-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 20px;
}


#favorite {
  font-size: 20px;
  color: black;
  border: none;
  text-shadow: 0 0 5px black;
  background-color: transparent;
  cursor: pointer;
}

#favorite.favorited {
  color: yellow;

}